Since it's part of the python program then it should cover

functions
dates
collections
lists
dicts
tuples
strings
Optional : feel free to use Graphical user interface like tkinter, 
add some action to your terminal using string color etc... (SKY IS THE LIMIT)

